@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #222222;
  --secondary-color: #498467;
  --tirtiary-color: #52b788;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #222222;
    --secondary-color: #498467;
    --tirtiary-color: #52b788;
  }
}

body {
  color: var(--primary-color);
  background: var(--primary-color);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
